
<ion-view view-title="Newsfeeds">
  <ion-content>
    <div class="tabs">
      <div class="tab-item">
      <a ng-click="a('top')">
        Top News
      </a>
      </div>
      <div class="tab-item">
      <a ng-click="a('latest')">
        Latest News
      </a>
      </div>
      <div class="tab-item">
      <a ng-click="a('popular')">
        Popular News
      </a>
      </div>
    </div>
    <br>
  <ion-content class="item bg">
     <div class="list">
       <div class="bg1">
      <div ng-repeat="latestNews in latestNewslist" >
    <a class="item item-thumbnail-left" ng-click="openModal(latestNews)">
      <img class="text-wrap" ng-src="{{latestNews.urlToImage}}">
      <h2 class="item-text-wrap" ng-bind="latestNews.title"></h2>
      <p class="description" ng-bind="latestNews.description"></p> 
      <p class="time item-text-right" align="right" ng-bind="latestNews.publishedAt"></p> 
      </a>
      </div>
    </div>
  </ion-content>
</ion-view>
