
<ion-view view-title="Newsfeeds">
  <ion-content>
    <div class="tabs">
      <a class="tab-item active" ng-click="a('top')">
        Top News
      </a>
      <a class="tab-item" ng-click="a('latest')">
        Latest News
      </a>
      <a class="tab-item" ng-click="a('popular')">
        Popular News
      </a>
    </div>
    <div>
  <ion-content class="item item-text-wrap bg" ng-init="a()">
     <div class="list">
       <div class="bg1">
      <div ng-repeat="latestNews in latestNewslist" >
    <a class="item item-thumbnail-left" ng-click="openModal(latestNews)">
      <img ng-src="{{latestNews.urlToImage}}">
      <h2 ng-bind="latestNews.title"></h2>
      <p ng-bind="latestNews.description"></p>  
      </a>
    <div>
  </div>
      </div>
    </div>
  </ion-content>
</ion-view>
